<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CatSampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC72E5442954E4F6009D6483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC72E55A2954E4F7009D6483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC72E5642954E4F7009D6483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
